@charset "UTF-8";
#md-screen {
  padding-top: 30px;
  padding-left: 30px;
}

#md-screen p {
  margin: 0 0 15px 0;
  line-height: 1.5;
}

#md-screen blockquote {
  background-color: #aaaaff10;
  border-left: 4px solid #aaaaff20;
  margin: 15px 0;
  padding: 10px 15px;
  color: #999;
}

#md-screen h1, #md-screen h2, #md-screen h3, #md-screen h4, #md-screen h5, #md-screen h6 {
  margin: 20px 0 10px 0;
  color: #ddd;
}

#md-screen h1 {
  font-size: 24px;
  font-weight: bold;
}

#md-screen h2 {
  font-size: 20px;
  font-weight: bold;
}

#md-screen h3 {
  font-size: 18px;
}

#md-screen ul, #md-screen ol {
  margin: 15px 0;
  padding-left: 30px;
}

#md-screen li {
  margin-bottom: 8px;
}

#md-screen code {
  background-color: #ffffff05;
  border-radius: 4px;
  padding: 2px 4px;
  color: #f0f0f0;
}

#md-screen pre {
  background-color: #0d0d1a;
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
  margin: 15px 0;
}

#md-screen pre code {
  background-color: transparent;
  padding: 0;
}

#md-screen input[type="checkbox"] {
  display: none;
}

#md-screen input[type="checkbox"] + li::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px solid #666;
  background-color: #ffffff10;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

#md-screen input[type="checkbox"]:checked + li::before {
  background-color: #666;
  content: '✔';
  color: #ddd;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}

#md-screen b {
  color: #bbb;
}

#md-screen a {
  text-decoration: none;
  color: #99e;
}

#md-screen a:hover {
  color: #aaf;
}

#md-screen a:visited {
  color: #b9e;
}

#md-screen th {
  border-bottom: solid 1px #ffffff90;
  border-left: solid 1px #ffffff30;
  border-right: solid 1px #ffffff30;
}

#md-screen td {
  background-color: #ffffff05;
  border-left: solid 1px #ffffff30;
  border-right: solid 1px #ffffff30;
  border-top: solid 1px #ffffff10;
}

#md-screen table {
  border-collapse: collapse;
  border: none;
}

#md-screen .hljs {
  background: transparent;
  color: #ddd;
}

#md-screen .hljs-keyword, #md-screen .hljs-selector-tag, #md-screen .hljs-built_in {
  color: #ff79c6;
}

#md-screen .hljs-string, #md-screen .hljs-regexp {
  color: #f1fa8c;
}

#md-screen .hljs-number, #md-screen .hljs-literal {
  color: #bd93f9;
}

#md-screen .hljs-comment {
  color: #6272a4;
}

#md-screen .hljs-function, #md-screen .hljs-title {
  color: #50fa7b;
}
