#md-screen {
  padding-top: 30px;
  padding-left: 30px;
}

#md-screen p {
  margin: 0 0 15px 0;
  line-height: 1.5;
}

#md-screen blockquote {
  background-color: #aaaaff10;
  border-left: 4px solid #aaaaff20;
  margin: 15px 0;
  padding: 10px 15px;
  color: #999;
}

#md-screen h1, #md-screen h2, #md-screen h3, #md-screen h4, #md-screen h5, #md-screen h6 {
  margin: 20px 0 10px 0;
  color: #ddd;
}

#md-screen h1 {
  font-size: 24px;
  font-weight: bold;
}

#md-screen h2 {
  font-size: 20px;
  font-weight: bold;
}

#md-screen h3 {
  font-size: 18px;
}

#md-screen ul, #md-screen ol {
  margin: 15px 0;
  padding-left: 30px;
}

#md-screen li {
  margin-bottom: 8px;
}

#md-screen code {
  background-color: #ffffff05;
  border-radius: 4px;
  padding: 2px 4px;
  color: #f0f0f0;
}

#md-screen pre {
  background-color: #1a1a2a;
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
  margin: 15px 0;
}

#md-screen pre code {
  background-color: transparent;
  padding: 0;
}

#md-screen b {
  color: #bbb;
}
