  * {
      margin: auto;
      padding: auto;
  }

  header {
      padding-right: 60px;

      h1 {
          padding-top: 15px;
      }
  }

  section {
  //=== flexbox  
      display: flex;
      flex-direction: row;
      //align-content: flex-start;
      align-items: flex-start;
  //===
      height: calc(100vh - 90px); //120 ok // 105 ok? XD
  }

  .box {
    //height: calc(100vh - 110px);
    margin: 10px;
    padding: 15px;
  }

  nav {
      width: 230px;
      height: calc(100% - 30px);
      overflow-y: auto;
  }

  article {

      width: 100%;
      height: calc(100% - 45px);
      overflow-y: auto;
      //padding-left: 30px;
  }



  //=== Lista MENU
  .menu {
      list-style: none;
      padding: 0;
    }
    
    .menu > li > a {
      display: block;
      text-decoration: none;
    }
    
    .podmenu {
      list-style: none;
      padding: 0;
      display: none; 

      opacity: 0;
      transform: translateY(-5px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .podmenu li a {
      display: block;
      //padding: 10px;
      text-decoration: none;
    }
    
    //pokazuje po najechaniu
    .ma-podmenu:hover .podmenu {
      display: block;
      opacity: 1;
      transform: translateY(0);
    }